<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.mapper.SystemPermissionMapper">
    <select id="selectPermissionAndRole" resultMap="permissionRoleDTO" parameterType="java.lang.String">
        select system_permission.*,
               system_role_permission.role_id,
               system_role.name as rolename,
               system_role.description as roledescription,
               system_role.company_id as rolecompany

            from system_permission,system_role,system_role_permission

            where system_permission.id=system_role_permission.permission_id

            and system_role.id=system_role_permission.role_id

            and system_permission.id=#{id}
    </select>
    <select id="selectUserIdWithPermission" resultMap="permissionUserDTO" parameterType="java.lang.String">
        select system_user_role.user_id,
               system_permission.*,
               system_role_permission.permission_id
        from system_user_role,
             system_role_permission,
             system_permission
        where system_user_role.role_id=system_role_permission.role_id

          and system_role_permission.permission_id=system_permission.id

          and system_user_role.user_id="1572839166844563456"
    </select>

    <resultMap id="permissionUserDTO" type="com.auth.pojo.PermissionUserDTO">
        <result property="userId" column="user_id"></result>
        <collection property="systemPermissionList" ofType="com.auth.pojo.SystemPermission" javaType="java.util.List">
            <result property="id" column="permission_id"></result>
            <result property="description" column="description"></result>
            <result property="name" column="name"></result>
            <result property="type" column="type"></result>
            <result property="pid" column="pid"></result>
            <result property="code" column="code"></result>
            <result property="enVisible" column="en_visible"></result>
        </collection>
    </resultMap>

    <resultMap id="permissionRoleDTO" type="com.auth.pojo.PermissionRoleDTO">
        <result property="id" column="id"></result>
        <result property="description" column="description"></result>
        <result property="name" column="name"></result>

        <collection property="systemRoleList" ofType="com.auth.pojo.SystemRole" javaType="java.util.List">
        <result property="id" column="role_id"></result>
        <result property="name" column="rolename"></result>
        <result property="description" column="roledescription"></result>
        <result property="companyId" column="rolecompany"></result>
    </collection>
    </resultMap>
</mapper>